{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container">
        <h1 class="my-3">{% block title %}{% if transaction %}Edit{% else %}Create{% endif %} Transaction{% endblock %}
            for {{ coin.name }}</h1>
        <div class="d-flex flex-column align-items-center">
            <div class="alert alert-info mb-3">
                <strong>Available balance:</strong> {{ balance|floatformat }}
            </div>
            <form method="post" class="mb-5">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-center">
                    <input class="btn btn-primary" type="submit" value="Submit ">
                </div>
            </form>
        </div>

        {% include 'portfolio/partials/transactions_table.html' %}

        {% url 'portfolio:add_transaction' coin_id=coin.id as portfolio_add_url %}
        {% include 'common/partials/pagination.html' with url=portfolio_add_url %}
    </div>
{% endblock %}