{% extends 'base.html' %}

{% load common_extras %}

{% block content %}
    <div class="container">
        <h1 class="my-5">{% block title %}Portfolio Overview{% endblock %}</h1>

        <div class="summary d-flex">
            <div class="summary-item">
                <h3>Invested</h3>
                <p>{{ total_invested|format_amount }}</p>
            </div>
            <div class="summary-item ms-5">
                <h3>Portfolio value</h3>
                <p>{{ portfolio_value|format_amount }}</p>
            </div>
            <div class="summary-item ms-5">
                <h3>UPL</h3>
                <p>
                    {{ portfolio_upl|format_amount }} <span
                        class="{{ portfolio_upl_percentage|percentage_change_class }} small">{{ portfolio_upl_percentage|format_percentage }}</span>
                </p>
            </div>
        </div>
        <a href="{% url 'portfolio:all_transactions' %}" class="btn btn-primary">See all transactions</a>

        {% if coin_list %}
        <table class="table table-hover my-3 text-center">
            <thead class="position-sticky top-0 bg-light">
            <tr>
                <th class="text-start">{% sort_link 'name' 1 sort direction search 'Coin' %}</th>
                <th>{% sort_link 'price' 1 sort direction search 'Price' %}</th>
                <th>{% sort_link 'avg_buy_price' 1 sort direction search 'Avg buy price' %}</th>
                <th>{% sort_link 'amount' 1 sort direction search 'Amount' %}</th>
                <th>{% sort_link 'value' 1 sort direction search 'Value' %}</th>
                <th>{% sort_link 'upl' 1 sort direction search 'UPL' %}</th>
                <th>{% sort_link 'allocation_percentage' 1 sort direction search 'Allocation' %}</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for coin in coin_list %}
                <tr>
                    <td class="text-start">{{ coin.name }} - <span class="text-primary">{{ coin.symbol }}</span></td>
                    <td>{{ coin.price|format_amount}}</td>
                    <td>{{ coin.avg_buy_price|format_amount }}</td>
                    <td>{{ coin.amount|format_number }}</td>
                    <td>{{ coin.value|format_amount }}</td>
                    <td>{{ coin.upl|format_amount }} <span class="small {{ coin.upl_percentage|percentage_change_class }}">{{ coin.upl_percentage|format_percentage }}</span></td>
                    <td>{{ coin.allocation_percentage|format_percentage }}</td>
                    <td>
                        <a href="{% url 'portfolio:add_transaction' coin_id=coin.id %}" class="btn btn-sm btn-link text-decoration-none">Edit</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        {% else %}
        	<div class="alert alert-info my-3">
                No coins in your portfolio yet.
            </div>
        {% endif %}
    </div>
{% endblock %}