APScheduler==3.11.0
asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
cfgv==3.5.0
crispy-bootstrap5==2025.6
dj-database-url==3.1.0
distlib==0.4.3
Django==5.2.5
django-apscheduler==0.7.0
django-crispy-forms==2.4
filelock==3.29.5
identify==2.6.19
idna==3.10
nodeenv==1.10.0
platformdirs==4.10.0
pre-commit==4.6.0
psycopg2-binary==2.9.11
python-dotenv==1.1.1
python-discovery==1.4.3
PyYAML==6.0.3
requests==2.32.5
ruff==0.15.20
sqlparse==0.5.3
tzlocal==5.3.1
urllib3==2.5.0
virtualenv==21.5.1
whitenoise==6.12.0
