{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container flex-grow-1 d-flex flex-column justify-content-center align-items-center">
    <h1 class="mb-3 text-center">{% block title %}Set New Password{% endblock %}</h1>

    {% if validlink %}
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-center">
          <input class="btn btn-primary" type="submit" value="Set password">
        </div>
      </form>
    {% else %}
      <p>The password reset link is invalid or has already been used.</p>
      <p><a href="{% url 'accounts:password_reset' %}">Request a new password reset</a>.</p>
    {% endif %}
  </div>
{% endblock %}
