html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

.action-icon-btn {
    align-items: center;
    display: inline-flex;
    height: 1.75rem;
    justify-content: center;
    padding: 0;
    width: 1.75rem;
}
