{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="my-5">Cryptocurrency prices by market capitalization</h1>

        {% if market_unavailable %}
            <div class="alert alert-info">Market data is temporarily unavailable. Please try again shortly.</div>
        {% else %}
            {% include "coins/partials/coins_table.html" with page_number=page_obj.number %}
            {% include "common/partials/pagination.html" %}
        {% endif %}
    </div>
{% endblock content %}
