{% extends "base.html" %} {% block content %}
<div class="container">
  <table class="table table-hover text-center">
    <thead class="position-sticky top-0 bg-light">
      <tr>
        <th>#</th>
        <th class="text-start">Coin</th>
        <th>Price</th>
        <th>24h</th>
        <th>7d</th>
        <th>ATH</th>
        <th>24h Volume</th>
        <th>Market Cap</th>
      </tr>
    </thead>

    <tbody>
      {% for coin in coin_list %}
      <tr>
        <th>{{ coin.market_cap_rank }}</th>
        <td class="text-start">
          {{ coin.name }} -
          <span class="fw-bold text-primary">{{ coin.symbol }}</span>
        </td>
        <td>${{ coin.current_price|floatformat:'g' }}</td>
        <td
          class="{% if coin.price_change_percentage_24h_in_currency > 0 %}text-success{% else %}text-danger{% endif %}"
        >
          {{ coin.price_change_percentage_24h_in_currency|floatformat:1 }}%
        </td>
        <td
          class="{% if coin.price_change_percentage_24h_in_currency > 0 %}text-success{% else %}text-danger{% endif %}"
        >
          {{ coin.price_change_percentage_7d_in_currency|floatformat:1 }}%
        </td>
        <td>${{ coin.ath|floatformat:'g' }}</td>
        <td>${{ coin.total_volume|floatformat:'g' }}</td>
        <td>${{ coin.market_cap|floatformat:'g' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination py-3 d-flex justify-content-end">
    {% if page > 1 %}
      <a href="{% url "coins:index" %}?page={{ page|add:'-1' }}" class='text-decoration-none me-3'>prev</a>
    {% endif %}
    {{ page }}
    {% if page < page_count %}
      <a href="{% url "coins:index" %}?page={{ page|add:'1' }}" class='text-decoration-none ms-3'> next</a>
    {% endif %}
  </div>
</div>

{% endblock content %}
