{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="my-5">Cryptocurrency prices by market capitalization</h1>

        {% if market_unavailable %}
            {% include "common/partials/market_unavailable.html" %}
        {% elif not coin_list %}
            <div class="alert alert-info">
                No coins are available right now.
                <a href="{% url 'coins:index' %}" class="alert-link">Refresh</a>
            </div>
        {% else %}
            {% include "coins/partials/coins_table.html" with page_number=page_obj.number %}
            {% include "common/partials/pagination.html" %}
        {% endif %}
    </div>
{% endblock content %}
