{% extends "base.html" %}
{% load coin_extras %}

{% block content %}
    <div class="container">
        <h1 class="my-5">{% block title %}Your Watchlist{% endblock %}</h1>
        {% if coin_list %}
            {% include "coins/partials/coins_table.html" with coin_list=coin_list is_watchlist=True %}
        {% else %}
            <div class="alert alert-info">Your watchlist is empty.</div>
        {% endif %}
        <div class="pagination py-3 d-flex justify-content-between">
            <a href="{% url 'coins:index' %}" class="btn btn-secondary">Back to Market</a>
            <span class="step-link">
                {% if page_obj.has_previous %}
                    <a class="text-decoration-none me-3"
                       href="{% url 'coins:watchlist' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

            {{ page_obj.number }}

                {% if page_obj.has_next %}
                    <a class="text-decoration-none ms-3"
                       href="{% url 'coins:watchlist' %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock content %}

