{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="my-5">{% block title %}Your Watchlist{% endblock %}</h1>
        {% if coin_list %}
            {% include "coins/partials/coins_table.html" with url='coins:watchlist' page=page_obj.number coin_list=coin_list is_watchlist=True %}
        {% else %}
            <div class="alert alert-info">Your watchlist is empty.</div>
        {% endif %}
        {% url 'coins:watchlist' as coins_watchlist_url %}
        {% include "common/partials/pagination.html" with url=coins_watchlist_url %}
    </div>
{% endblock content %}

